@font-face {
    font-family: Gilroy-Light;
    src: url("../media/fonts/Gilroy-Light.otf");
}
@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("../media/fonts/Gilroy-ExtraBold.otf");
}
body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    color: #10163A;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    background-color: #202020;
}
.body-container{
    max-width: 100%;
    font-family: Gilroy-Light;
    box-sizing: border-box;
}
.logo{
    height:60%;
    width: 60%;
    margin: 0 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* justify-items: center; */
}
.links{
    padding-right: 3rem;
}
.links a{
    text-decoration: none;
    color: azure;
    font-size: 1.5rem;
    font-family: Gilroy-Light;
}
.container-logo{
    padding-left: 5rem;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20%,100%), 1fr));
    grid-gap: 2%;
    margin: auto;
    max-width: 80%;
    margin-top: 2rem;
}
.card{
    /* background-color: #fff; */
    color: #d0d0d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background-color: #202020;
    /* padding: 1px; */
    box-shadow: 0px 5px 10px #000;
    margin-bottom: 12%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.card:nth-child(1){
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
.card:nth-child(2){
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.card:nth-child(3){
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}
.card:nth-child(4){
    animation: 2s ease-out 0s 1 slideInFromLeft;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20%;
    margin-top: 1.2rem;
    padding: 0% 10%;
}
.card-image{
    align-items: center;
    justify-self: center;
}
.socials{
    margin-top: 1.5rem;
}
.card-image img{
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 200px;
    clip-path: circle(40% at 50% 50%);
    /* max-width: auto; */
    /* max-height: 50%; */
}
.socials{
    display:flex;
    flex-direction: row;
    /* justify-content: space-between;
    flex-grow: 1; */
    
    justify-content: space-between;
}
.social{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 150%;
    width: 120%;
    justify-content: center;
}
.social li a{
    text-decoration: none;
}
.social li{
   padding-left: 80%;
   padding-right: 120%;
   /* margin-right: 50%; */
   /* min-width: 27%; */
}
.social :hover li>a{
    border-radius: 20%;
    border-color: #000;
    border: rgb(89, 230, 8) solid 1px;
}
.fa-facebook{
    color: #2051bb;
}
.fa-github{
    color: #ddd;
}
.fa-linkedin{
    color: #0077b5;
}
.fa-envelope{
    color: #ddd;
}
.name{
    font-family: Gilroy-ExtraBold;
}
.heading{
    text-align: center;
    color: #d0d0d0;
    font-size: 2.5rem;
    font-family: Gilroy-ExtraBold;
    margin:2rem 0rem;

}
@media (max-width:1100px)
{
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(25%,100%), 1fr));
        grid-gap: 5%;
        margin: auto;
        max-width: 80%;
        margin-top: 10%;
    }
    .name{
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
    }
    .fa { transform: scale(1.2,1.2); }
    .spltxt{
        margin-top: 0.9rem;
    }
    .card-content{
        padding: 0px 9%;
    }
}
@media (max-width:768px)
{
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(40%,100%), 1fr));
        grid-gap: 10%;
        margin: auto;
        max-width: 80%;
        margin-top: 10%;
    }
    .name{
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
    }
    .fa { transform: scale(1.5,1.5); }
    .spltxt{
        margin-top: 0.9rem;
    }
    .card{
        margin-bottom: 5%;
    }
    .card-content{
        padding: 0px 8%;
    }
}
@media (max-width:512px)
{
    /* .cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(48%,100%), 1fr));
        grid-gap: 10%;
        margin: auto;
        max-width: 80%;
        margin-top: 10%;
    }
    .name{
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
    }
    .fa { transform: scale(1.5,1.5); }
    .spltxt{
        margin-top: 0.9rem;
    }
    .card{
        margin-bottom: 0%;
    } */
    .cards{
        grid-gap: 3%;
    }
    .card{
        max-height: 400px;
        height:300px;
        transition: width 0.35s, height 0.35s;
    }
    .card-image img{
        max-width : auto;
        width: 8rem;
        height: 190px;
    }
    .name{
        font-size: 1rem;
    }
    .social a{
        transform: scale(1.5,1.5);
        /* display: none; */
        opacity: 0;
        transition: all 0.7s ease-in-out;
    }
    .spltxt{
        margin-top: 1%;
        /* display: none; */
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .card:hover{
        height: 350px;
    }
    .card:hover .card-image img{
        transform: none;
    }
    .card:hover .social a, .card:hover .spltxt{
        /* display: block; */

        opacity: 1;
    }
}
@media (max-width:375px)
{
    .cards{
        grid-gap: 1% 5%;
    }
    .card{
        width: 100%;
        height: 280px;
    }
    .card-content{
        padding: 0% 1%;
    }
    .name{
        font-size: 0.8rem;
    }
    .card-content{
        padding: 0px 9%;
    }
}