body{
    background-color: #000;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    padding: 50px;
    max-width: 100%;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px,100%), 1fr));
    grid-gap: 2%;
    margin: 0 auto;
    max-width: 100%;
}
.card{
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1px; */
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20%;
}
.card-image{
    align-items: center;
    justify-self: center;
}
.card-image img{
    max-width: 100%;
    /* max-width: auto; */
    /* max-height: 50%; */
}
.socials{
    display:flex;
    flex-direction: row;
    /* justify-content: space-between;
    flex-grow: 1; */
}
.social{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.social li a{
    text-decoration: none;
}
.social li{
   padding-left: 25%;
   /* margin-right: 50%; */
   /* min-width: 27%; */
}
.social :hover li>a{
    border-radius: 20%;
    border-color: #000;
    border: rgb(89, 230, 8) solid 1px;
}
.fa-facebook{
    color: #2051bb;
}
.fa-github{
    color: #000;
}
.fa-linkedin{
    color: #0077b5;
}
.fa-envelope{
    color: #383838;
}