.button{
    
       
        border: none;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 2px 2px;
        border-radius: 12px;
      

}
.navbar1
{
        color: cornsilk;
}

body{   
    
}

.h11{
        font-family:fantasy;
        color: cornsilk;
        word-spacing: 6px;
        letter-spacing: 3px;
        animation: text 3s 1;
        font-size: large; 
        font-weight: 700;
        box-shadow: 4px 4x 8px White;

}

.h22{
        font-family: cursive;
        color: cornsilk;
        word-spacing: 3px;
        letter-spacing: 2px;
        animation: text2 2s 1;

}

@keyframes text {
        0%{
                color: cornsilk;
                margin-bottom: -40px;
        }
        30%{
                letter-spacing: 25px;
                margin-bottom: -40px;
        }
        
       
        
}

@keyframes text2 {
        0%{
                color: cornsilk;
                margin-bottom: -40px;
        }
        30%{
                letter-spacing: 5px;
                margin-bottom: -40px;
        }
        
       
        
}

