
:root {
	--hue: 223;
	--bg: rgb(20,20,20);
	--fg: hsl(var(--hue),10%,10%);
	/* font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320)); */
}

.overlay{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  color: var(--fg);
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  left:0;
}
#preloader{
  transition: all 0.3s ease-in-out;
}
.pl {
	width: 10%;
	height: auto;

}
.pl__ring, .pl__ball {
	animation: ring 2s ease-out infinite;
}
.pl__ball {
	animation-name: ball;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animation */
@keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@keyframes ball {
	from, 50% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}


@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("../media/fonts/Gilroy-ExtraBold.otf");
}
@font-face{
  font-family: Batman;
  src: url("../media/fonts/batmanforever.ttf");
}
.navbar{
  z-index: 1;
}
.hero-section{
    display:flex;
    flex-direction:row;
    width: 100%;
    justify-content: space-around;
    letter-spacing: 0.8rem;
    height: 100%;
}
.hero-right
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}
.hero-left
{
    font-family: Gilroy-ExtraBold;
    color: aliceblue;
    font-size: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.desctext{
    font-family: Gilroy-Light;
    font-size: 1rem;
    letter-spacing: 0.6rem;
    margin-left: 9%;
    margin-top: -2%;
}
.top,.mid,.end,.toper,.ender{
  font-family: Batman!important;
}
.mid{
    z-index: 5;
}
.top,.end{
    color: #797777;
    z-index: -1;
}
.toper, .ender{
    color: #3c3b3b;
    z-index: -1;
}
/* .mid{
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear 3;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: rgba(255, 255, 255, 0); */
} */
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
.mid{
  /* font: bold 2em monospace; */
  color: white;
	border-right: .1em solid black;
	/* width: calc(0.55em * 14);  */
	/* width: 14ch; */
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 3s steps(10 end),
	           blink-caret .5s step-end infinite alternate;
}
#midtxt{
  margin-top: 0.3rem;
}
.hero-right>img{
    width:237%;
    height:100%;
}
.section-heading>span{
    font-family: Gilroy-ExtraBold;
    font-size: 3rem;
    color: #ffffff;
    /* letter-spacing: 1rem; */
    margin-top: 2rem;
}
.aboutus, .bodyevents, .sponsors{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    /* height: 50vh; */
}
.aboutimg>img{
    width: 250%;
    height: 100%;
}
.aboutus{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: Gilroy-ExtraBold;
    font-size: 1rem;
    color: #ffffff;
}
.abouttext{
    max-width: 35%;
    margin-top: 6rem;
    margin-left:5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.bodytext{
    margin-top: 2rem;
    font-family: Gilroy-Light;
    font-size: 1.2rem;
    line-height: 2rem;
}
.timeline {
    width: 95%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    margin-top: 5rem;
  }
  .timeline img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0.5rem 0rem;
    border-radius: 10px 10px 10px 0px;
  }
  .timeline ul {
    list-style: none;
  }
  .timeline ul li {
    padding: 20px;
    background-color: #3f7aff;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
  .timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 52.7%;
      transform: translateX(-50%);
      width: 3px;
      height: 2500px;
      background-color: gray;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: gray;
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color: aqua;
    }
  }


#gallery{
  text-align: center;
  margin: 12rem auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.dummybtns{
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
  margin-top: 0.9rem;
}
.circle1{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ff0404dc;
  margin-right: 0.5rem;
}
.circle2{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffd904e5;
  margin-right: 0.5rem;
}
.circle3{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #04ff0c9a;
  margin-right: 0.5rem;
}
.windowtitle{
  font-family: Gilroy-Light;
  font-size: 1.8rem;
  color: #ffffff;
  margin-top: -1.8rem;
  margin-bottom: -1.2rem;
}
.windowbr{
  color: #ffffff;
}
.window{
  backdrop-filter: blur(20rem);
  background: rgba(255, 255, 255, 0.09);
  max-width: 100%;
 border-radius: 1.2rem;
  margin: 2% 17%;
}
.window-main{
  padding: 1rem 2rem;
}
.intro {
  height: 72vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
  z-index: 3;
}
.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
  height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
  object-fit: cover;
  z-index:-1;
  /* filter: brightness(50%); */ /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
  /* display: none; */
  opacity: 0;
  border-radius: 0.5rem;
  transition: opacity 0.75s ease-in-out;
}
/* .intro-slideshow img:first-child {
  display: block;
  opacity: 1;
} */
.intro {
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  background-color: rgba(0,0,0,0.5);
}
.intro h1 {
  font-size: 4rem;
  margin-bottom: 0.75rem;
}
.intro p {
  font-size: 1.75rem;
}

@media (max-width: 700px) {
  html { font-size: 12px; }
  .intro h1 { font-size: 2.5rem; }
  .intro p { font-size: 1.25rem; }
}


  
.footerdivider{
    margin-top: 6rem;
    margin-bottom: 2rem;
    width: 90%;
    color: #ffffff71;
    /* align-self: center;
     */
    margin-left:  5%;
    margin-right: 5%;
}
.footcontainer{
    width: 85%;
    font-family: Gilroy-Light;
    color: #ffffff;
    display: grid;
    grid-template-areas:
        'footlogo left socials'
    ;
    /* margin: 0% 5%; */
    margin: auto;
    text-align: center;
}
.footer-left{
  grid-area: footlogo;
}
.footer-left{
  width: 75%;
}
.footer-logo img{
  width: 50%;
  height: auto;
}
.left{
    grid-area: left;
    font-size: 1.5rem;
    margin-left: -3rem;
}
#contacthead{
  font-size: 2rem;
}
.mid{
    grid-area: middle;
}
.right{
    grid-area: right;
}
.left,.mid,.right{
  margin-top: 2rem;
}
.footheading{
    font-family: Gilroy-ExtraBold;
    font-size: 1rem;
    margin-bottom: 1rem;
}
footer a{
  text-decoration: none;
  text-emphasis: none;
  color: #ffffff;
}
footer a:hover{
  cursor: grab;
  color: #ffffff;
  /* font-size: 1.04rem; */
  letter-spacing: 0.15rem;
  transition: all 0.2s ease-in-out;
}
.footercontent{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
#allSocials{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
}
#socialHead{
  font-family: Gilroy-ExtraBold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.footmid{
  margin-top: 2rem;
  grid-area: socials;
}
.fb, .linked, .insta{
  font-size: 2rem;
}
.fb:hover, .linked:hover, .insta:hover{
  cursor: grab;

}
.fa-facebook:hover{
  color: #3b5998;
  transition: all 0.3s ease-in-out;
}
.fa-linkedin:hover{
  color: #0077B5;
  transition: all 0.3s ease-in-out;
}
.fa-instagram:hover{
  color: #e1306c;
  transition: all 0.3s ease-in-out;
}
@media (max-width:1600px){
  .hero-left{
    font-size: 4.5rem;
  }
  .hero-right>img{
    width:200%;
    height:100%;
  }
  .desctext{
    letter-spacing: 0.45rem;
  }
  .aboutimg>img{
    width:200%;
    height:100%;
  }
}

@media (max-width:1320px){
  .hero-left{
    font-size: 4rem;
  }
  .hero-right>img{
    width:180%;
    height:
    100%;
  }
  .desctext{
    letter-spacing: 0.28rem;
  }
}

@media (max-width:1200px){
  .hero-left{
    font-size: 3.5rem;
  }
  .hero-right>img{
    width:160%;
    height:100%;
  }
  .desctext{
    letter-spacing: 0.2rem;
  }
  .left{
    font-size: 1.2rem;
    margin-left: -4rem;
  }
  #contacthead{
    font-size: 1rem;
  }
}

@media (max-width:1100px){
  .hero-left{
    font-size: 2.5rem;
  }
  .left{
    font-size: 1rem;
    margin-left: 0rem;
  }
  #contacthead{
    font-size: 2rem;
  }
  .aboutimg>img{
    width:180%;
    height:100%;
  }
  .aboutimg{
    margin-top: 6rem;
    margin-right: 3rem;
  }
  .bodytext{
    font-size: 1.1rem;
  }
  .window{
    margin: 3% 5%;
  }
  #contactUs{
    margin-left: -3rem;
  }
  .contactDesc{
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .hero-right>img{
    width:110%;
    height:100%;
  }
  .left{
    font-size: 0.6rem;
    margin-left: 0rem;
  }
  #events>.heading>span{
      margin-left: 2rem;
  }
  .hero-section{
    height: 65vh;
  }
  .window{
    margin: 3% 3%;
  }
  .footcontainer{
    grid-template-areas:
    'footlogo left'
    'socials socials'
    ;
  }
  #contacthead {
    font-size: 3rem;
}

}
@media (max-width:768px){
  .hero-left{
    font-size: 2.4rem;
  }
  .hero-right>img{
    width:120%;
    height:100%;
  }
  .desctext{
    letter-spacing: 0.12rem;
  }
  .aboutimg {
    margin-top: 8rem;
    margin-right: 5rem;
    margin-left: -6rem;
  }
  .bodytext{
    margin-top: 5rem;
    font-size: 15px
  }
  .footer-logo img {
    width: 100%;
  }
  #contacthead {
    margin-top: 2rem;
}
  .contactDesc{
    margin-top: 3rem;
    font-size: 1.3rem;
  }
}

/* Entering Mobile Design */


@media (max-width:767px){}
@media (max-width:512px){
  .toggleicon{
    font-size: 2.5rem;
  }
  .mobnav-li{
    font-size: 2.5rem!important;
  }
  .mobnav-li:hover , .mobnav-li:focus, .mobnav-li:active{
    border-bottom:0.1rem  solid #ffffff;
    transition: border-bottom 0.2s ease-in-out, border-right 0.4s ease-in-out, border-top 0.6s ease-in-out, border-left 0.8s ease-in-out;
    width: 60%;
    margin: auto;
    text-align: center;
    border-right: 0.1rem  solid #ffffff;
    border-top: 0.1rem  solid #ffffff;
    border-left: 0.1rem  solid #ffffff;
    padding: 0.5rem;
  }
  .hero-section{
    flex-direction: column-reverse;
  }
  .hero-right{
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
  }
  .hero-left{
    font-size: 1rem;
    align-items: center;
    margin-top: 1rem;
    /* padding: 0.5rem; */
    /* word-wrap: break-word; */
    /* white-space: pre-line; */
    /* overflow-wrap: break-word; */
  }
  .top,.end,.mid{
    font-size: 2.9rem;
    text-align: center;
    margin-left: 0.6rem;
  }
  
  .end{
    margin-top: 1.5rem;
  }
  /* .top{
    margin-left: -1.2rem;
  }
  .end{
    margin-right: -2.2rem;
  } */
  .desctext{
    margin-left: 0rem;
    font-size: 1.5rem;
  }
  .toper,.ender{
    display: none;
  }
  .aboutus{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .aboutimg>img{
    width:100%;
    height:100%;
  }
  .aboutimg{
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .abouttext{
    margin: auto;
    text-align: center;
    max-width: 100%;
  }
  ol,ul{
    padding-left: 0rem;
  }
  .section-heading>span{
    margin-top: -2rem;
  }
  #events{
    margin-top: 12rem;
  }
  #events>.heading>span{
    margin-left: 11.5rem;
    margin-bottom: -5rem;
  }
  .timeline{
    margin-top: 2rem;
  }
  .window{
    margin: 6% 0%;
  }
  .window-main{
    padding: 1rem 1rem;
  }
  #gallery{
    margin-bottom:4rem;
    margin-top: 8rem;
  }
  #contacthead{
    font-size: 1.5rem;
    margin-top: 0.8rem;
  }
  .contactDesc{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .mobnav{
    width: 100%;
    height: 80vh;
    background: #202020;
    position: absolute;
    top:16vh;
    left: 0;
    z-index: 6;
    font-family: Gilroy-Light;
    transition: all 1s ease-in-out;
  }
  .mobnav-ul{
    margin-top: 15%;
    /* margin-left: 30%; */
  }
  .mobnav-ul>li{
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
  }
  .mobnav-li{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* margin-top: 10rem; */
  }
  .mobnav-li>a{
    text-decoration: none;
    color: white;
    text-align: center;
  }
  .footcontainer{
    width: 90%;
  }
  .left{
    margin-top: 3rem;
  }
  .contactDesc{
    margin-top: 2rem;
  }
  footer{
    margin-bottom: 5rem;
  }
}

/* Iphone 6/7/8 Config + General Android */
@media(max-width:375px) {
  /* .hero-left{
    padding-left: 1rem;
  } */
  .top,.end,.mid{
    font-size: 2.7rem;
  }
  .timeline{
    padding-left: 0.5rem;
  }
  #events>.heading>span {
    margin-left: 10rem;
  }
  .mobnav{
    height: 90vh;
    top:16.5vh;
  }
}
/* Iphone 5/SE Only Config */
@media (max-width:320px){
  .toggleicon{
    font-size: 1.9rem;
  }
  .hero-right{
    margin-top: 5rem;
    margin-left: 3rem;
  }
  .mobnav{
    height: 84vh;
  }
  .top,.end,.mid{
    font-size: 2rem;
  }
  .desctext{
    font-size: 1rem;
  }
  /* .top{
    margin-left: 1rem;
  }
  .mid,.desctext{
    margin-left: 2.5rem;
  }
  .end{
    margin-right: -2rem;
  } */
  .aboutus{
    margin-top: 12rem;
    margin-left: 1rem;
  }
  #events>.heading>span{
    margin-left: 9rem;
  }
  #gallery{
    margin: 20% 3%;
  }
  
}