@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("../media/fonts/Gilroy-ExtraBold.otf");
}
.hero-section{
    display:flex;
    flex-direction:row;
    width: 100%;
    justify-content: space-around;
    letter-spacing: 1rem;
    height: 100%;
}
.hero-right
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}
.hero-left
{
    font-family: Gilroy-ExtraBold;
    color: aliceblue;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.desctext{
    font-family: Gilroy-Light;
    font-size: 1rem;
    letter-spacing: 0.4rem;
    margin-left: 9%;
    margin-top: -2%;
}
.mid{
    z-index: 5;
}
.top,.end{
    color: #797777;
    z-index: -1;
}
.toper, .ender{
    color: #3c3b3b;
    z-index: -1;
}
.hero-right>img{
    width:237%;
    height:100%;
}
.section-heading>span{
    font-family: Gilroy-ExtraBold;
    font-size: 3rem;
    color: #ffffff;
    /* letter-spacing: 1rem; */
    margin-top: 2rem;
}
.aboutus, .bodyevents, .sponsors{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    /* height: 50vh; */
}
.aboutimg>img{
    width: 250%;
    height: 100%;
}
.aboutus{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: Gilroy-ExtraBold;
    font-size: 1rem;
    color: #ffffff;
}
.abouttext{
    max-width: 35%;
    margin-top: 6rem;
    margin-left:5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.bodytext{
    margin-top: 2rem;
    font-family: Gilroy-Light;
    font-size: 1.2rem;
}
.timeline {
    width: 95%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    margin-top: 5rem;
  }
  
  .timeline ul {
    list-style: none;
  }
  .timeline ul li {
    padding: 20px;
    background-color: #fa0c2c;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
  .timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 52.2%;
      transform: translateX(-50%);
      width: 3px;
      height: 1050px;
      background-color: gray;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: gray;
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color: aqua;
    }
  }


#gallery{
  text-align: center;
  margin: 12rem auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.dummybtns{
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
  margin-top: 0.9rem;
}
.circle1{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ff0404dc;
  margin-right: 0.5rem;
}
.circle2{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffd904e5;
  margin-right: 0.5rem;
}
.circle3{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #04ff0c9a;
  margin-right: 0.5rem;
}
.windowtitle{
  font-family: Gilroy-Light;
  font-size: 1.8rem;
  color: #ffffff;
  margin-top: -1.8rem;
  margin-bottom: -1.2rem;
}
.windowbr{
  color: #ffffff9a;
}
.window{
  backdrop-filter: blur(20rem);
  background: rgba(255, 255, 255, 0.09);
  max-width: 100%;
 border-radius: 1.2rem;
  margin: 2% 17%;
}
.window-main{
  padding: 1rem 2rem;
}
.intro {
  height: 72vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
  z-index: 3;
}
.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
  height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
  object-fit: cover;
  z-index:-1;
  /* filter: brightness(50%); */ /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
  /* display: none; */
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}
/* .intro-slideshow img:first-child {
  display: block;
  opacity: 1;
} */
.intro {
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  background-color: rgba(0,0,0,0.5);
}
.intro h1 {
  font-size: 4rem;
  margin-bottom: 0.75rem;
}
.intro p {
  font-size: 1.75rem;
}

@media (max-width: 700px) {
  html { font-size: 12px; }
  .intro h1 { font-size: 2.5rem; }
  .intro p { font-size: 1.25rem; }
}


  
.footerdivider{
    margin-top: 6rem;
    margin-bottom: 2rem;
    width: 90%;
    color: #ffffff71;
    /* align-self: center;
     */
    margin-left:  5%;
    margin-right: 5%;
}
.footcontainer{
    width: 85%;
    font-family: Gilroy-Light;
    color: #ffffff;
    display: grid;
    grid-template-areas:
        'footlogo left middle right'
    ;
    /* margin: 0% 5%; */
    margin: auto;
    text-align: center;
}
.footer-left{
  grid-area: footlogo;
}
.footer-left{
  width: 75%;
}
.footer-logo img{
  width: 50%;
  height: auto;
}
.left{
    grid-area: left;
}
.mid{
    grid-area: middle;
}
.right{
    grid-area: right;
}
.left,.mid,.right{
  margin-top: 2rem;
}
.footheading{
    font-family: Gilroy-ExtraBold;
    font-size: 1rem;
    margin-bottom: 1rem;
}
footer a{
  text-decoration: none;
  text-emphasis: none;
  color: #ffffff;
}
footer a:hover{
  cursor: grab;
  color: #ffffff;
  font-size: 1.04rem;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
}
.footercontent{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}