@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("../media/fonts/Gilroy-ExtraBold.otf");
}
.hero-section{
    display:flex;
    flex-direction:row;
    width: 100%;
    justify-content: space-around;
    letter-spacing: 1rem;
    height: 100%;
}
.hero-right
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}
.hero-left
{
    font-family: Gilroy-ExtraBold;
    color: aliceblue;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.desctext{
    font-family: Gilroy-Light;
    font-size: 1rem;
    letter-spacing: 0.4rem;
    margin-left: 9%;
    margin-top: -2%;
}
.mid{
    z-index: 5;
}
.top,.end{
    color: #797777;
    z-index: -1;
}
.toper, .ender{
    color: #3c3b3b;
    z-index: -1;
}
.hero-right>img{
    width:237%;
    height:100%;
}
.section-heading>span{
    font-family: Gilroy-ExtraBold;
    font-size: 3rem;
    color: #ffffff;
    /* letter-spacing: 1rem; */
    margin-top: 2rem;
}
.aboutus, .bodyevents, .sponsors{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    /* height: 50vh; */
}
.aboutimg>img{
    width: 250%;
    height: 100%;
}
.aboutus{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: Gilroy-ExtraBold;
    font-size: 1rem;
    color: #ffffff;
}
.abouttext{
    max-width: 35%;
    margin-top: 6rem;
    margin-left:5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.bodytext{
    margin-top: 2rem;
    font-family: Gilroy-Light;
    font-size: 1.2rem;
}
.timeline {
    width: 95%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    margin-top: 5rem;
  }
  
  .timeline ul {
    list-style: none;
  }
  .timeline ul li {
    padding: 20px;
    background-color: #fa0c2c;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
  .timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 52.2%;
      transform: translateX(-50%);
      width: 3px;
      height: 1050px;
      background-color: gray;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: gray;
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color: aqua;
    }
  }
.ActGallery{
    margin-top: 12rem;
    margin-bottom: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
}
.ActGallery>.heading {
    margin-bottom: 3rem;
}
.body-top {
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 4% 0px 2% 0px;
  }
  
  .bg-poster {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 90%;
    height: 350px;
    margin: auto;
  }
  
  .bg-img-properties {
    filter: opacity(0.3) blur(3px);
  }
  
  .left-poster {
    display: flex;
    align-items: center;
    align-content: center;
    width: 85%;
  }
  
  .left-poster img {
    max-width: 150%;
    animation: left-img 3s infinite;
    animation-direction: normal;
  }
  
  @keyframes left-img {
    0% {
    }
    75% {
      position: relative;
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      position: relative;
      transform: translateX(143%);
      opacity: 0;
    }
  }
  
  .main-poster {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 140%;
  }
  
  .main-poster img {
    width: 100%;
    box-shadow: 20px 34px 58px 10px rgba(34, 3, 3, 0.2),
      0px 46px 70px 20px rgba(142, 122, 122, 0.19);
    animation: main-img 3s infinite;
    animation-direction: normal;
    z-index: 1;
  }
  
  @keyframes main-img {
    0% {
    }
    75% {
      position: relative;
      transform: translateX(0);
      width: 100%;
      filter: opacity(1) blur(0);
      z-index: 1;
    }
    100% {
      position: relative;
      transform: translateX(-71.5%);
      width: 91%;
      filter: opacity(0.3) blur(3px);
      z-index: 0;
    }
  }
  
  .right-poster {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    justify-content: right;
    width: 85%;
  }
  
  .right-poster img {
    max-width: 150%;
    animation: right-img 3s infinite;
    animation-direction: normal;
    z-index: 0;
  }
  
  @keyframes right-img {
    0% {
      z-index: 0;
    }
    75% {
      max-width: 150%;
      position: relative;
      transform: translateX(0);
      filter: opacity(0.5) blur(1px);
      box-shadow: 0px 0px 0px 0px rgba(34, 3, 3, 0.2),
        0px 0px 0px 0px rgba(142, 122, 122, 0.19);
      z-index: 0;
    }
    100% {
      max-width: 165%;
      position: relative;
      transform: translateX(-60.5%);
      filter: opacity(1) blur(0);
      box-shadow: 20px 34px 58px 10px rgba(34, 3, 3, 0.2),
        0px 46px 70px 20px rgba(142, 122, 122, 0.19);
      z-index: 1;
    }
  }
.footerdivider{
    margin-top: 6rem;
    margin-bottom: 2rem;
    width: 90%;
    color: #ffffff71;
    /* align-self: center;
     */
    margin-left:  5%;
    margin-right: 5%;
}
.footcontainer{
    width: 85%;
    font-family: Gilroy-Light;
    color: #ffffff;
    display: grid;
    grid-template-areas:
        'left middle right'
    ;
    /* margin: 0% 5%; */
    margin: auto;
    text-align: center;
}
.left{
    grid-area: left;
}
.mid{
    grid-area: middle;
}
.right{
    grid-area: right;
}
.footheading{
    font-family: Gilroy-ExtraBold;
    font-size: 1rem;
    margin-bottom: 1rem;
}