
@font-face {
    font-family: Gilroy-Light;
    src: url("../media/fonts/Gilroy-Light.otf");
}
body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    color: #10163A;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    background-color: #202020;
}
.container{
    max-width: 100%;
    font-family: Gilroy-Light;
    box-sizing: border-box;
}
.logo{
    height:60%;
    width: 60%;
    margin: 0 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.toggleicon{
    display: none;
}



.navbar-links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* justify-items: center; */
}
.links{
    padding-right: 3rem;
}
.links a{
    text-decoration: none;
    color: azure;
    font-size: 1.5rem;
    font-family: Gilroy-Light;
}
.container-logo{
    padding-left: 5rem;
}
.links{
    transition: all 0.5s ease-in-out;
}
.links:hover{
    transform: translateX(0.5rem);
    transform: translateY(0.3rem);
}


@media (max-width:1189px){
    .container-logo{
        padding-left: 1rem;
    }
    .links{
        padding-right: 0.1rem!important;
    }
}
@media (max-width:1200px){
    .links{
        padding-right: 1rem;
    }
}
@media (max-width:1320px){
    .links{
        padding-right: 2rem;
    }
}
@media (max-width: 1000px) {
    .logo{
        height:50%;
        width: 50%;
    }
    .links a {
        font-size: 1rem;
    }
    .container-logo{
        padding-left: 0rem;
    }
}
@media (max-width:576px){
    .container-logo{
        padding-left: 0rem;
    }
    ol,ul{
        padding-left: 0rem;
    }
    .body-container{
        width: 100%;
        font-family: Gilroy-Light;
        box-sizing: border-box;
    }
    .toggleicon{
        font-size: 1.5rem;
        display: block;
    }
    .navbar-links{
        display: none !important;
    }
    .navactive{
        display: flex;
    }
    .navbar{
        justify-content: space-evenly;
    }
    .mobnav-li:hover , .mobnav-li:focus, .mobnav-li:active{
        border-bottom:0.1rem  solid #ffffff;
        transition: border-bottom 0.2s ease-in-out, border-right 0.4s ease-in-out, border-top 0.6s ease-in-out, border-left 0.8s ease-in-out;
        width: 60%;
        margin: auto;
        text-align: center;
        border-right: 0.1rem  solid #ffffff;
        border-top: 0.1rem  solid #ffffff;
        border-left: 0.1rem  solid #ffffff;
        padding: 0.5rem;
      }
      .mobnav{
          width: 100%;
          height: 84vh;
          background: #202020;
          position: absolute;
          top:16vh;
          left: 0;
          z-index: 6;
          font-family: Gilroy-Light;
          transition: all 1s ease-in-out;
      }
        .mobnav-ul{
          margin-top: 15%;
          /* margin-left: 30%; */
        }
        .mobnav-ul>li{
          margin-top: 3rem;
          margin-bottom: 2.5rem;
          font-size: 2.5rem;
        }
        .mobnav-li{
          text-decoration: none;
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* justify-content: center; */
          /* margin-top: 10rem; */
        }
        .mobnav-li>a{
          text-decoration: none;
          color: white;
          text-align: center;
        }
    /* .clicked{
        color: #d10e0e67!important;
    } */

}
@media (max-width:480px){
    .mobnav-li{
        font-size: 1.8rem!important;
    }
}
@media (max-width:320px){
    .toggleicon{
      font-size: 1.5rem;
  
    }
    .logo{
      width: 39%;
      height: auto;
    }
    .mobnav-li{
        font-size: 1.5rem!important;
    }
}
