
@font-face {
    font-family: Gilroy-Light;
    src: url("../media/fonts/Gilroy-Light.otf");
}
body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    color: #10163A;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    background-color: #202020;
}
.container{
    max-width: 100%;
    font-family: Gilroy-Light;
    box-sizing: border-box;
}
.logo{
    height:60%;
    width: 60%;
    margin: 0 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* justify-items: center; */
}
.links{
    padding-right: 3rem;
}
.links a{
    text-decoration: none;
    color: azure;
    font-size: 1.5rem;
    font-family: Gilroy-Light;
}
.container-logo{
    padding-left: 5rem;
}